<div class="content-container">
  <h2 class="question-text">What is your mobile number?</h2>
  <div class="phone-input-container">
    <div class="country-code">
      <img src="assets/india.png" alt="Country Flag" class="country-flag">
      <span>+91</span>
    </div>
    <img src="assets/bar.png" alt="bar" class="bar">
    <input type="text" placeholder="" class="phone-number-input" (input)="validatePhoneNumber($event)">
  </div>
  <p class="info-text">You will receive an SMS with a verification code</p>
</div>
