<!-- Header Section -->
<header class="header">
  <h1>Profile</h1>
</header>

<!-- Profile Content Section -->
<div class="profile-container">
  <div class="profile-card">
    <img src="assets/profile_picture.jpg" alt="Profile Picture" class="profile-img">
    <h2>John Bosco</h2>
    <p class="title">MEAN Stack Developer</p>
    <p class="company-title">Twilight IT Solutions</p>
    <div class="about">
      <p>I am passionate about leveraging technology to solve complex problems and deliver value-driven solutions that
        enhance
        user experience and business outcomes. I look forward to continuing to develop my skills and contribute to
        innovative
        projects that push technological boundaries.</p>
    </div>
    <div class="social-media">
      <a href="#"><img src="assets/icon/facebook.png" alt="Facebook"></a>
      <a href="#"><img src="assets/icon/x.png" alt="Twitter"></a>
      <a href="#"><img src="assets/icon/linkedin.png" alt="LinkedIn"></a>
    </div>
    <button class="contact-button">Contact</button>
  </div>
</div>

<!-- Footer Section -->
<footer class="footer">
  <p>© 2024 Twilight IT Solutions</p>
</footer>
